# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entorno virtual
.venv/
venv/
env/

# Django
*.sqlite3
*.log
local_settings.py

# Media generada por usuarios (ignorar contenido, preservar carpetas con .gitkeep)
media/imagenes/*
media/recortes/*
media/render/*
media/cartas/*
!media/imagenes/.gitkeep
!media/recortes/.gitkeep
!media/render/.gitkeep
!media/cartas/.gitkeep

# Estáticos compilados
staticfiles/
static_collected/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
